<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todoapp/bs/css/flatly.min.css'%}" />
		<link rel="stylesheet" href="{% static 'todoapp/styles.css'%}"  />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			<h1><a href="{% url 'index' %}" style="color: white;">ToDo App</a></h1>
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>What do you need to do?</p></div>
					
					<form action="{% url 'add' %}" method="POST" role="form">
						{% csrf_token %}
						<div class="form-group">
							<div class="input-group">
								{{form.text}}

							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
							  </span>
							</div>
						</div>
					</form>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar" style="display: flex; justify-content: center;">
								<div class="btn-group" style="margin-right: 15px;">
									<a href="{% url 'deletecomplete' %}"><button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group" style="margin-left: 15px;">
									<a href="{% url 'deleteall' %}"><button type="button" class="btn btn-warning" style="padding-right: 37px; padding-left: 37px;">
										<i class="glyphicon glyphicon-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>

					<div style="text-align: center; margin-top: 20px;"><p>Click on the task to mark it as completed!</p></div>
					<ul class="list-group t20">
						{% for todo in todo_list %}
							{% if todo.complete %}
								<a href="{% url 'incomplete' todo.id %}"><li class="list-group-item todo-completed">{{ todo.text }}</li></a>
							{% else %}
								<a href="{% url 'complete' todo.id %}"><li class="list-group-item">{{ todo.text }}</li></a>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Jakub Maciasz &copy; 2022 <strong>ToDo App</strong>
					</div>
					<div class="col-lg-12 text-center">
						<a href="#" style="color: darkgrey">Portfolio</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://github.com/faya22" style="color: darkgrey">GitHub</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://www.linkedin.com/in/jakub-maciasz-53082521b/" style="color: darkgrey">LinkedIn</a>
					</div>

				</div>
			</footer>
		</div>


	</body>
</html>
